version: '3.1'

services:
  db:
    build:
      context: .
      dockerfile: Dockerfile-mysql
    volumes:
      - ./db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: 9784rgsoe97g
      MYSQL_DATABASE: nymph_example
      MYSQL_USER: nymph_example
      MYSQL_PASSWORD: omgomg

  # db:
  #   image: postgres:latest
  #   volumes:
  #     - ./db_data:/var/lib/postgresql/data
  #   environment:
  #     POSTGRES_USER: nymph_example
  #     POSTGRES_PASSWORD: omgomg

  pubsub:
    depends_on:
      - db
    build:
      context: .
      dockerfile: Dockerfile-pubsub
    volumes:
      - .:/nymph
    command:
      - "/nymph/wait-for-it.sh"
      - "db:3306"
      # - "db:5432"
      - "-t"
      - "120"
      - "--"
      - "php"
      - "/nymph/examples/examples/pubsub.php"
    ports:
      - "8081:8081"
    environment:
      MYSQL_HOST: db:3306
      MYSQL_DATABASE: nymph_example
      MYSQL_USER: nymph_example
      MYSQL_PASSWORD: omgomg
      # PGSQL_HOST: db
      # PGSQL_PORT: 5432
      # PGSQL_DATABASE: nymph_example
      # PGSQL_USER: nymph_example
      # PGSQL_PASSWORD: omgomg
      TILMELD_SECRET_FILE: /run/secrets/tilmeld_secret
    secrets:
      - tilmeld_secret

  web:
    depends_on:
      - db
      - pubsub
    build:
      context: .
      dockerfile: Dockerfile-web
    volumes:
      - .:/var/www/html
    ports:
      - "8080:80"
    environment:
      MYSQL_HOST: db:3306
      MYSQL_DATABASE: nymph_example
      MYSQL_USER: nymph_example
      MYSQL_PASSWORD: omgomg
      # PGSQL_HOST: db
      # PGSQL_PORT: 5432
      # PGSQL_DATABASE: nymph_example
      # PGSQL_USER: nymph_example
      # PGSQL_PASSWORD: omgomg
      PUBSUB_HOST: pubsub:8081
      TILMELD_SECRET_FILE: /run/secrets/tilmeld_secret
    secrets:
      - tilmeld_secret


secrets:
  tilmeld_secret:
    file: tilmeld_secret.txt
