/* === Global Styles */
body {
	font-family: Helvetica, Arial, sans;
	color: #333;
}
h3 {
	border-bottom: greenyellow 1px solid;
	padding-bottom: 4px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
button, input[type=button] {
	border: greenyellow 1px solid;
	border-radius: 3px;
	background: honeydew;
	padding: 4px;
}
input[type=text] {
	border: greenyellow 1px solid;
	border-radius: 3px;
	background: honeydew;
	padding: 6px;
}

/* === Layout Styles */
.container {
	max-width: 1180px;
	margin: 0 auto;
	padding-top: 30px;
}
.loading {
	text-align: center;
	font-size: 30pt;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.column {
	float: left;
	width: 50%;
}
.column > div {
	padding: 0 20px;
}
.dummy {
	display: none;
}

/* === Form Control Styles */
.form-controls {
	clear: left;
	margin-bottom: 1em;
}
.form-controls span {
	float: left;
	clear: left;
	display: block;
	width: 200px;
}
.form-controls .form-control {
	margin-left: 20px;
	float: left;
}
.form-controls button {
	margin-bottom: 4px;
}

/* === Game Selector Styles */
.game-selector .game {
	border: gold 1px solid;
	border-radius: 3px;
	background: lightyellow;
	width: 90%;
	padding: 5px;
	margin: .25em 0;
}
.game-selector .game.game-complete {
	border-color: aqua;
	background-color: azure;
}
.game-selector .game > span {
	display: block;
	float: left;
	padding: 4px;
}
.game-selector .game .actions {
	width: 100%;
	float: left;
	clear: both;
}
.game-selector .game .actions > button:last-child {
	float: right;
}
.game-selector .game .actions .delete-button {
	border-color: red;
	background: lightpink;
}

/* === In Game Styles */
.game-play .saving {
	position: absolute;
	right: 120px;
	top: 20px;
}
/* --- Game Board Styles */
.game-board {
	display: table;
	margin-bottom: 2em;
}
.game-board .row {
	display: table-row;
}
.game-board .square {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 1em;
	width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 16px;
	border: aqua 1px dashed;
	font-weight: bold;
	font-family: monospace;
	cursor: default;
}
.game-board .square-preset {
	color: mediumblue;
}
/* These make the 3x3 subgrids stand out. */
.game-board .row:first-child .square, .game-board .row:nth-child(3n+1) .square {
	border-top-style: solid;
}
.game-board .row:last-child .square, .game-board .row:nth-child(3n) .square {
	border-bottom-style: solid;
}
.game-board .square:first-child, .game-board .square:nth-child(3n+1) {
	border-left-style: solid;
}
.game-board .square:last-child, .game-board .square:nth-child(3n) {
	border-right-style: solid;
}
.game-board .square input {
	padding: 0;
	border: 0;
	width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	font-family: monospace;
}
.game-board .square .mistake {
	color: red;
}

/* === Tablet Styles */
@media (max-width: 970px) {
	.loading > div {
		font-size: 25pt;
	}
	.column {
		float: none;
		width: 100%;
	}
	.game-board {
		margin-bottom: 0;
	}
}

/* === Mobile Styles */
@media (max-width: 648px) {
	h1 > small {
		display: block;
	}
	.container {
		padding-top: 0;
	}
	.loading > div {
		font-size: 15pt;
	}
	.column > div {
		padding: 0;
	}
	.form-controls .form-control {
		margin-top: 10px;
		margin-left: 0;
		clear: left;
	}
	.game-selector .game > span {
		float: none;
	}
	.game-board {
		width: 100%;
		height: auto;
	}
	/* This makes the board the same width as the screen. */
	.game-board .square {
		width: 11.11%;
		height: auto;
		position: relative;
	}
	/* This makes the square values centered. */
	.game-board .square .dummy {
		display: block;
		margin-top: 100%;
	}
	.game-board .square .value {
		width: 16px;
		height: 16px;
		margin: auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
	}
}
